name: Owlplug Scanner

on: 
  push:
    branches: 
      - '**'

jobs:
  build-win:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0
        submodules: recursive
        token: ${{ secrets.REPO_ACCESS_TOKEN }}
    - name: "Download Projucer"
      run: ./build/download-projucer.sh
      shell: bash
      env:
        OS: windows
    - name: Get Scanner Version
      run: echo "version=$((Select-Xml -Path owlplug-scanner.jucer -XPath '//JUCERPROJECT/@version').Node.Value)" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf8 -Append
      id: get-version
    - name: "Build Scanner"
      run: ./build/build-win.sh
      shell: bash
    - name: Upload Artifact
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: owlplug-scanner-win
        path: ./Builds/VisualStudio2019/x64/Release/ConsoleApp/owlplug-scanner-${{ env.version }}-win.exe
  build-osx:
    runs-on: macos-13
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0
        submodules: recursive
        token: ${{ secrets.REPO_ACCESS_TOKEN }}
    - name: "Download Projucer"
      run: ./build/download-projucer.sh
      shell: bash
      env:
        OS: osx
    - name: Install XmlStarlet
      run: brew install xmlstarlet
    - name: Get Scanner Version
      run: echo "version=$(xmlstarlet sel -t -v 'string(//JUCERPROJECT/@version)' owlplug-scanner.jucer)" >> $GITHUB_ENV
      id: get-version
    - name: "Build OSX"
      run: ./build/build-osx.sh
      shell: bash
    - name: Upload Artifact
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: owlplug-scanner-osx
        path: ./Builds/MacOSX/build/Release/owlplug-scanner-${{ env.version }}-osx
  build-linux:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0
        submodules: recursive
        token: ${{ secrets.REPO_ACCESS_TOKEN }}
    - name: "Download Projucer"
      run: ./build/download-projucer.sh
      shell: bash
      env:
        OS: linux
    - name : Update packages
      run: sudo apt update
    - name : Install Juce dev dependencies
      run: sudo apt install libasound2-dev libcurl4-openssl-dev libx11-dev libxcomposite-dev libxcursor-dev libxext-dev libxinerama-dev libxrandr-dev libxrender-dev libfreetype-dev libfreetype6-dev libfontconfig1-dev
    - name: Install XmlStarlet
      run: sudo apt install xmlstarlet
    - name: Get Scanner Version
      run: echo "version=$(xmlstarlet sel -t -v 'string(//JUCERPROJECT/@version)' owlplug-scanner.jucer)" >> $GITHUB_ENV
      id: get-version
    - name: "Build Linux"
      run: ./build/build-linux.sh
      shell: bash
    - name: Add version in binary name
      run: mv ./Builds/LinuxMakefile/build/owlplug-scanner-linux ./Builds/LinuxMakefile/build/owlplug-scanner-${{ env.version }}-linux
    - name: Upload Artifact
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: owlplug-scanner-linux
        path: ./Builds/LinuxMakefile/build/owlplug-scanner-${{ env.version }}-linux
  release:
    name: "Release"
    needs: [build-win, build-osx, build-linux]
    if: github.ref == 'refs/heads/master'
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Retrieve artifacts
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          path: ./build
      - uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          draft: true
          tag_name: latest
          name: OwlPlug Scanner Latest
          files: |
            build/owlplug-scanner-osx/*
            build/owlplug-scanner-win/*
            build/owlplug-scanner-linux/*
